/* html elements */
input {
  padding: 10px;
}
body {
  background: black;
  text-align: left;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Special Elite", cursive;
}

h3 {
  margin-top: 30px;
  margin-bottom: 0px;
}

h4 {
  margin: 10px;
}

h5 {
  margin: 10px;
  text-decoration: underline;
}

p {
  margin: auto;
  font-size: 0.8rem;
}

ul {
  padding: 0;
}
li {
  list-style: none;
}
form {
  margin: 20px;
}

/* Text */
.selected {
  font-size: 20px;
  font-family: "Special Elite", cursive;
}

/* buttons */
button {
  background: black;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
#add {
  padding: 10px;
  font-size: 0.8rem;
}

#random {
  padding: 20px 90px;
  margin: 20px;
  font-size: 1rem;
  border-radius: 40px;
}
/* Containers */
.central {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  border: black 1px solid;
  margin: 30px 130px;
  padding: 20px;
  background: palegreen;
}

#drinks {
  border: 1px black solid;
  padding: 0px 90px 20px;
}
