/* html elements */
input {
  padding: 10px;
}
body {
  background: black;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Special Elite", cursive;
  margin: 0px;
}

h3 {
  margin-top: 10px;
  margin-bottom: 0px;
}

h4 {
  margin: 10px;
}

h5 {
  margin: 10px;
  text-decoration: underline;
}

p {
  margin: 0px;
  font-size: 0.8rem;
}

form {
  margin: 20px;
}

/* Text */
.selected {
  font-size: 20px;
  font-family: "Special Elite", cursive;
  color: white;
}

.purple {
  font-size: 20px;
  font-family: "Special Elite", cursive;
  color: #b18ad4;
}

.drink {
  padding: 10px;
  border: black 1px solid;
  margin: 3px 1px;
}

/* buttons */
button {
  background: black;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
#add {
  padding: 10px;
  font-size: 0.8rem;
}

#random {
  padding: 20px 90px;
  margin: 20px 20px 0px;
  font-size: 1rem;
  border-radius: 40px;
}

/* Containers */
.central {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.container {
  border: white 6px solid;
  border-radius: 10px;
  margin: 30px 130px;
  padding: 20px;
  background: #b18ad4;
}

#drinks {
  border: 1px black solid;
  padding: 0px 90px 20px;
}

/* media queries */
@media only screen and (max-width: 600px) {
  .container {
    margin: 20px 10px;
  }
  #random {
    padding: 20px 20px;
  }
}
